
.form-content{
  text-align: center;
  display: inline-block;
}
form{
  text-align: right;
}
.input-box{
  display: block;
  margin:4px;
}
input {
  border-radius: 4px;
  color:#646B6F;
  margin: 8px;
  padding:2px 6px;
  font-size: 16pt;
  width:204pt;
  border:solid 1px  rgba(255,255,255,.6);
}
button{
  display:inline-block;
  background-color:rgba(255,255,255,.15);
  border:solid 1px  rgba(255,255,255,.6);
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  width: 100pt;
  cursor:pointer;
  font-family: 'Lato','Roboto-mono';
  font-size: 14pt;
}
button:hover{
    background-color:rgba(255,255,255,.4);
    border:solid 1px rgba(255,255,255,1);
}
